---
name: Publish docs
"on":
  push:
    tags: v*
permissions:
  contents: write
jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install and build
        run: |
          python -VV
          python -m site
          python -m pip install -U pip wheel setuptools
          python -m pip install -e .[dev]
          make html
      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/html
