---
name: Update bundled openapi definition

"on":
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'  # At :00 every hour

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Fetch latest OpenAPI definition
        shell: bash
        run: |-
          curl https://api-ch-gva-2.exoscale.com/v2/openapi.json | ./.sort-enums.py | jq > exoscale/openapi.json

          curl https://partner-api.exoscale.com/v1.alpha/openapi.json | ./.sort-enums.py | jq > exoscale/partner-api.json
      - name: Commit and push if changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add exoscale/openapi.json
          timestamp=$(date -u)
          git commit -m "OpenAPI spec update: ${timestamp}" || exit 0
          git push
